.jumbotron {
   padding-top: 10px;
   padding-bottom: 10px;
}

#game-on, #transition-panel {
    display: none;
}

#participantList {
    padding-right: 15%;
}

span.pseudo-user {
    text-decoration: underline;
}

#drawArea, #chatArea {
    height: 500px;
    border: 1px solid #4d4d4d;
    margin-bottom: 20px;
}
#drawArea {
    border-radius: 10px 0px 0px 10px;
    border-right-style: none;
    position: relative;
}

#drawArea canvas.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: crosshair;
  }

div#colors div.color, div#colors div.clean-whiteboard, div#colors div.skip-word {
    display: inline-block;
    width: 5%;
}

div#colors div.clean-whiteboard span, div#colors div.skip-word span {
    font-size: 250%;
    position: relative;
    bottom: 15%;
    left: 150%;
    color: grey;
    cursor: pointer;
}

div#colors div.skip-word span {
    left: 300%;
}

div#colors div.color.black { background-color: black; }
div#colors div.color.red { background-color: red; }
div#colors div.color.green { background-color: green; }
div#colors div.color.blue { background-color: blue; }
div#colors div.color.yellow { background-color: yellow; }

#chatArea {
    border-radius: 0px 10px 10px 0px;
    padding-right: 0px;
    padding-left: 2%;
    padding-top: 2%;
}


#chatArea ul#proposals {
    list-style: none;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    height: 95%;
    overflow-y: auto;
}

#chatArea ul#proposals li span.pseudo {
    text-decoration: underline;
}

#chatProposal .inputProposal {
    margin-bottom: 20px;
}

#drawArea, #chatArea, #colors, #chatProposal {
    display: inline-block;
}

#drawArea, #colors {
    width: 75%;
}

#chatArea, #chatProposal {
    width: 25%;
}

#transition-error-message {
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .inputProposal::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    .inputProposal:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    .inputProposal::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
   .inputProposal:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
}
