<!DOCTYPE html>
<html>
    <head>
        <%- include('head-section'); %>
        <title>Salle de jeu</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron text-center col-lg-12">
                    <h2 class="font-weight-light">Salle de jeu</h2>
                </div>
            </div>
            <%- include('script-section') %>
            <script src="/public/js/game.js"></script>
        </body>
</html>
