<!DOCTYPE html>
<html>
    <head>
        <%- include('head-section'); %>
        <link rel="stylesheet" href="/public/css/game.css" type="text/css" />
        <title>Salle de jeu</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron text-center col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="/pictionary">
                                <span class="fa fa-arrow-left"></span>
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <h3 id="participantList" data-pseudo=<%= pseudo %> class="font-weight-light">
                                Liste des participants: ...
                            </h3>
                        </div>
                        <div class="col-sm-5">
                            <h5 id="scoreList" class="font-weight-light">
                                Scores: ...
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transition-panel">
                <div class="row">
                    <div class="jumbotron col-sm-12 text-center">
                        <h4 id="transition-message" class="font-weight-light">
                            ...
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div id="transition-button" class="btn btn-secondary">
                            ...
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="transition-error-message" class="alert alert-danger text-center col-sm-12">
                    </div>
                </div>
            </div>
            <div id="game-on">
                <div class="row">
                    <div id="drawArea" class="bg-light">
                        <canvas
                            class="whiteboard"
                            width="700"
                            height="500"
                        ></canvas>
                    </div>
                    <div id="chatArea" class="bg-light">
                        <ul id="proposals"></ul>
                    </div>
                </div>
                <div class="row">
                    <div id="colors">
                        <div class="color black"></div>
                        <div class="color red"></div>
                        <div class="color green"></div>
                        <div class="color blue"></div>
                        <div class="color yellow"></div>
                        <div class="clean-whiteboard">
                            <span class="fa fa-trash"></span>
                        </div>
                        <div class="skip-word">
                            <span class="fa fa-fast-forward"></span>
                        </div>
                    </div>
                    <div id="chatProposal">
                        <input
                            type="text"
                            class="form-control inputProposal"
                            placeholder="Votre proposition..."
                        />
                    </div>
                </div>
            </div>
        </div>
        <%- include('script-section') %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/game-player-list.js"></script>
        <script src="/public/js/game-transitions-constants.js"></script>
        <script src="/public/js/game-transitions.js"></script>
        <script src="/public/js/game-transitions-actions.js"></script>
        <script src="/public/js/game-chat.js"></script>
        <script src="/public/js/game-whiteboard.js"></script>
        <script src="/public/js/game-connection.js"></script>
        <script src="/public/js/game.js"></script>
    </body>
</html>
